agent.creds
config.json
coverage.out

/nsc
/outputs
/checks

caddy/certs/*.key
caddy/certs/*.crt

# goreleaser
dist/

# Helm dependency archives
example/kubernetes/score/charts/*.tgz

# Copy of template file
example/kubernetes/score/values-nats-secrets.yaml
