localhost {
  tls /etc/caddy/certs/localhost.crt /etc/caddy/certs/localhost.key
  reverse_proxy server:3000
}

localhost:8080 {
  tls /etc/caddy/certs/localhost.crt /etc/caddy/certs/localhost.key
  reverse_proxy nats:8001
}
