# Copy this file to values-nats-secrets.yaml and fill in the placeholders below with values from nsc-generated nats.conf

nats:
  config:
    merge:
      system_account: "PASTE_SYS_ACCOUNT_PUBLIC_KEY_HERE"
      resolver_preload:
        PASTE_SYS_ACCOUNT_PUBLIC_KEY_HERE: "PASTE_SYS_ACCOUNT_JWT_HERE"
        PASTE_SCORE_ACCOUNT_PUBLIC_KEY_HERE: "PASTE_SCORE_ACCOUNT_JWT_HERE"
